In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("car_df_EDA.csv")

In [4]:
df.head() #for get first five rows of all columns

,Unnamed: 0.1,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,dohc,four,130.0,mpfi,9.0,111,5000,21,27,13495
1,1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,dohc,four,130.0,mpfi,9.0,111,5000,21,27,16500
2,2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,ohcv,six,152.0,mpfi,9.0,154,5000,19,26,16500
3,3,4,audi,gas,std,four,sedan,fwd,front,99.8,...,ohc,four,109.0,mpfi,10.0,102,5500,24,30,13950
4,4,5,audi,gas,std,four,sedan,4wd,front,99.4,...,ohc,five,136.0,mpfi,8.0,115,5500,18,22,17450

In [8]:
#to find different types of fuel type
df['fuel_type'].unique()

array(['gas', 'diesel'], dtype=object)

In [9]:
#to find different types of engine type
df['engine_type'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', nan, 'ohcf', 'dohcv'],
      dtype=object)

In [10]:
#to find different types of bodystyle of cars
df['body_style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [11]:
#information regarding the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       208 non-null    int64
 1   Unnamed: 0         208 non-null    int64
 2   make               208 non-null    object
 3   fuel_type          208 non-null    object
 4   aspiration         208 non-null    object
 5   num_of_doors       208 non-null    object
 6   body_style         208 non-null    object
 7   drive_wheels       208 non-null    object
 8   engine_location    208 non-null    object
 9   wheel_base         206 non-null    float64
 10  length             208 non-null    float64
 11  width              208 non-null    float64
 12  height             208 non-null    float64
 13  curb_weight        208 non-null    int64
 14  engine_type        207 non-null    object
 15  num_of_cylinders   208 non-null    object
 16  engine_size        206 non-null    float64
 17  fuel_system        208 non-null    object
 18  compression_ratio  208 non-null    float64
 19  horsepower         208 non-null    object
 20  peak_rpm           208 non-null    object
 21  city_mpg           208 non-null    int64
 22  highway_mpg        208 non-null    int64
 23  price              204 non-null    object
dtypes: float64(6), int64(5), object(13)
memory usage: 39.1+ KB

In [12]:
# all statistical operation - Descriptive Statistics
df.describe()

,Unnamed: 0.1,Unnamed: 0,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,city_mpg,highway_mpg
count,208.000000,208.000000,206.000000,208.000000,208.000000,208.000000,208.000000,206.000000,208.000000,208.000000,208.000000
mean,103.456731,104.456731,98.919903,174.262019,65.950962,53.750481,2563.375000,127.543689,10.194808,25.158654,30.668269
std,60.115573,60.115573,6.121266,12.373790,2.159419,2.435010,521.034018,41.599197,4.044135,6.528187,6.873639
min,0.000000,1.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,51.750000,52.750000,94.500000,166.675000,64.100000,52.000000,2163.000000,98.000000,8.600000,19.000000,25.000000
50%,103.500000,104.500000,97.000000,173.200000,65.500000,54.100000,2422.500000,120.000000,9.000000,24.000000,30.000000
75%,155.250000,156.250000,102.400000,183.775000,66.900000,55.500000,2959.250000,145.000000,9.400000,30.000000,34.000000
max,204.000000,205.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

## Data Manipulating

In [24]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'make', 'fuel_type', 'aspiration',
       'num_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_of_cylinders', 'engine_size', 'fuel_system', 'compression_ratio',
       'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [27]:
df['price']=df['price'].astype('str').astype('int32')

ValueError: invalid literal for int() with base 10: '?'